# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.FamilyTree.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\MOKSLAI\3rd Semester\DNP\Projects\RazorProjects\dnp-asg11\.idea\.idea.FamilyTree\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
