@page "/Adding"
<h3>Welcome to this awesome page.</h3>

<h3>Add some cool people below..</h3>

<form>
    <label for="fName">First name: </label><br>
    <input type="text" id="fName" name="fName" ><br>
    
    <label for="lName">Last name:</label><br>
    <input type="text" id="lName" name="lName"><br>
    
    <label for="occupation">Occupation:</label><br>
    <input type="text" id="occupation" name="occupation"><br>
    
    <label for="eyeColor">Eye color:</label><br>
    <input type="text" id="eyeColor" name="eyeColor"><br>
    
    <label for="hairColor">Hair color:</label><br>
    <input type="text" id="hairColor" name="hairColor"><br>
    
</form>






@code {
    
}