@page "/Adding"
<h3>Welcome to this awesome page.</h3>

<h3>Add some cool people below..</h3>

<form>
    <label for="fname">First name: </label><br>
    <input type="text" id="fname" name="fname" ><br>
    
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname"><br>
    
    <label for="occupation">Occupation:</label><br>
    <input type="text" id="occupation" name="occupation"><br>
    
    <form>
           <fieldset>
              <legend>Selecting elements</legend>
              <p>
                 <label>Select list</label>
                 <select id = "myList">
                   <option value = "1">one</option>
                   <option value = "2">two</option>
                   <option value = "3">three</option>
                   <option value = "4">four</option>
                 </select>
              </p>
           </fieldset>
        </form>
</form>






@code {
    
}