@page "/register"
@inject AuthenticationStateProvider AuthenticationStateProvider
@using FamilyTree.Authentication
@using FamilyTree.Data.Models


<h3>Register</h3>

<AuthorizeView>
    <NotAuthorized Context="User">
        <EditForm Model="@user" OnValidSubmit="@PerformRegister">
            <input type="text" placeholder="Username" @bind-value="user.userName" />
            <input type="password" placeholder="Password" @bind-value="user.password" />
            <input type="submit" class="form-control col-1 btn btn-primary" value="Register" />
        </EditForm>
        <div style="color:red">@errorMessage</div>


    </NotAuthorized>
</AuthorizeView>


@code {

    private User user = new User();
    private string errorMessage;


    public void PerformRegister()
    {


        try
        {
            ((CustomAuthenticationStateProvider)AuthenticationStateProvider).ValidateRegister(user.userName, user.password);
        }
        catch (Exception e)
        { errorMessage = e.Message; }



    }


}
